<a href="https://colab.research.google.com/github/arddrasoni-commits/9_pandas/blob/main/experiment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 9
## Name: Arddra Soni
## PRN: 25070123022
## Branch: ENTC
## Div. : A1
### Study of Pandas

In [3]:
# Pandas = "Panel Data"

In [8]:
import pandas as pd

s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [42]:
# Create dataframe
data = {
    "Name":["P","Q","R"],
    "Marks":[90,85,78]
    }
df = pd.DataFrame(data)
df

  Name  Marks
0    P     90
1    Q     85
2    R     78

In [43]:
df.head()
df.tail()

  Name  Marks
0    P     90
1    Q     85
2    R     78

In [44]:
df.shape #Find the structure of the dataframe

(3, 2)

In [45]:
df.ndim

2

In [46]:
df.size

6

In [47]:
# samples = rows, features = columns, rows x columns = total no.of elements

In [48]:
 # display column names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [49]:
# check datatypes of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [50]:
# access individual column
df["Name"]

0    P
1    Q
2    R
Name: Name, dtype: object

In [51]:
df["Marks"]

0    90
1    85
2    78
Name: Marks, dtype: int64

In [52]:
# Access specific row
df.loc[1]

Name      Q
Marks    85
Name: 1, dtype: object

In [53]:
df.iloc[1] #used with dataset

Name      Q
Marks    85
Name: 1, dtype: object

In [61]:
# Update data in dataframe

# Change marks of student A to 88

df.loc[0,"Marks"] = 88
df

  Name  Marks
0    P     88
1    Q     85
2    R     78

In [66]:
#add a new column

df["Grade"] = ["First Class","Distinction","Second Class"]
df

  Name  Marks         Grade
0    P     88   First Class
1    Q     85   Distinction
2    R     78  Second Class

In [68]:
# Delete a column
df.drop("Grade", axis=1, inplace=True)
df

  Name  Marks
0    P     88
1    Q     85
2    R     78

In [70]:
# Perform Basic Statistical analysis
df["Marks"].mean()

np.float64(83.66666666666667)

In [71]:
df["Marks"].max()

88

In [72]:
df["Marks"].min()

78

In [74]:
# Apply Condition (Filtering)

# Display students scoring more than 80
df[df["Marks"] > 80]

  Name  Marks
0    P     88
1    Q     85